.bodyContent{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.head{
 margin-top: 10rem;
}

.formContainer{
    margin-right: 5rem;
    margin-left: -15rem;
    margin-top: 7rem;
    padding: 1rem;
    border-style: groove;
    border-radius: 1rem;
    border-color: #ffff00;
    background-color: #262626;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 1px 3px 2px,
    rgba(0, 0, 0, 0.06) 2px 1px 2px 2px;
}
.formWrap{
    margin: 5rem;
    color: white;
}
.input{
    border-color: #ffff00;
    border-width: 2px;
}
.content{
    margin-left: -15rem;
    margin-top: 3rem;

}

.Card{
    width: 20rem;
    border-radius: 12px;
    border-color: #ffff00;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 1px 3px 2px,
    rgba(0, 0, 0, 0.06) 2px 1px 2px 2px;
}

.searchBox{
    width: 75%;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 1px 3px 2px,
    rgba(0, 0, 0, 0.06) 2px 1px 2px 2px;
    background-color: #262626;   
}

.cardTitle{
    color: #ffff00;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 35%;
}

.selectBtn{
    margin-left: 30%;
    margin-top: 1rem;
    width: 6rem;
    border-width: 3px;
    border-color: #ffff00;
}

