.parent {
    height: 100%;
    position:relative;
  }
   
  .child {
   
    background-color:#999999;
    
   
  }

  .formContainer{
    margin-right: 5rem;
    margin-left: 15rem;
    margin-top: 6rem;
    bottom:30px;
    right:25px;
    position:absolute;
    width:65%;
    height:90%;
    border-style: groove;
    border-radius: 1rem;
    border-color: #ffff00;
    background-color: #262626;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 1px 3px 2px,
    rgba(0, 0, 0, 0.06) 2px 1px 2px 2px;
}

.formWrap{
  margin-right: 4rem;
  margin-left: 4rem;
  margin-top: 1.9rem;
 
    color: white;

}
.input{
    border-color: #ffff00;
    border-width: 0.5px;
}

.btn{
  margin-top: 0.5rem;
}

.tableContainer{
  margin-right: 5px;
  margin-left: 18rem;
  margin-top: 6rem;
  bottom:30px;
  right:5px;
  position:absolute;
  width: 1100x;
  height:90%;
  border-style: groove;
  border-radius: 1rem;
  border-color: #ffff00;
  background-color: #262626;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 1px 3px 2px,
  rgba(0, 0, 0, 0.06) 2px 1px 2px 2px;
}

.rowBeforeTable{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}

.table{
  margin-left: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 100px;
  width: 95%;
}

.actionColumn{
  width: 20%;
  text-align: center;
}

.tHeadRow{
  background-color: aliceblue;
}

.searchbarAndBtn{
  margin-left: 10px;
  margin-bottom: 20px;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

.searchInput{
  width: 50%;
}

.btnPrimary{
  width: 20%;
  border-color: #ffff00;
}

.btnAddSup{
  width: 100%;
  border-color: #ffff00;
  
}

.btnUpdate{
  width: 95px;
  height: 40px;
  border-color: #00ff2f;
  float: left;
  border-radius: 17px;
}

.btnDelete{
  margin-left: 15px;
  width: 95px;
  height: 40px;
  border-color: #ffff00;
  float: left;
  border-radius: 17px;
}